.box {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
}

.hidden {
    position: absolute;
    background: grey;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hidden:hover {
    background: darkgray;
}

.showBox {
    display: none;
}